<div class="container">
  <div *ngIf="validate">
    <div class="alert alert-success" role="alert">
      <strong>Bravo !</strong>
    </div>
  </div>

  <div *ngIf="failed">
    <div class="alert alert-danger" role="alert">
      <strong>Erreur !</strong>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Nouveau réalisateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

        <div class="container">
          <div class="form-group">
            <label for="nomRea">Nom</label>
            <input [(ngModel)]="realisateur.nomRea" type="text" class="form-control" id="nomRea" required>
          </div>

          <div class="form-group">
            <label for="prenRea">Prenom</label>
            <input [(ngModel)]="realisateur.prenRea" type="text" class="form-control" id="prenRea" required>
          </div>
        </div>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button (click)="add(realisateur)" type="submit" class="btn btn-success" data-dismiss="modal">Enregistrer</button>

      </div>
    </div>
  </div>
</div>



<div class="container-fluid">

  <h1>Réalisateurs</h1>

  <table class="table table-hover">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Plus</th>
    </tr>
    <tr *ngFor="let realisateur of realisateurs">
      <td>{{realisateur.nomRea}}</td>
      <td>{{realisateur.prenRea}}</td>
      <td>
        <button routerLink="/realisateur/{{realisateur.noRea}}" type="button" class="btn btn-info" title="Détails"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button (click)="delete(realisateur.noRea)" routerLink="/realisateurs" type="button" class="btn btn-danger" title="Supprimer"><i class="fa fa-times" aria-hidden="true"></i></button>
      </td>
    </tr>
  </table>

  <div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Ajouter un réalisateur
    </button>
  </div>

</div>
